{{#returnTypeIsPrimitive}}{{{returnType}}}{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}{{#returnSimpleType}}{{packageName}}.{{modelPackage}}.{{{returnType}}}, {{packageName}}, Version={{packageVersion}}.0, Culture=neutral, PublicKeyToken=null{{/returnSimpleType}}{{^returnSimpleType}}{{{returnType}}}{{/returnSimpleType}}{{/returnTypeIsPrimitive}}