{{#returnTypeIsPrimitive}}{{{returnType}}}{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}{{#returnSimpleType}}{{packageName}}.{{modelPackage}}.{{{returnType}}}{{/returnSimpleType}}{{^returnSimpleType}}{{#isListContainer}}System.Collections.Generic.List<{{packageName}}.{{modelPackage}}.{{returnBaseType}}>{{/isListContainer}}{{#isMapContainer}}System.Collections.Generic.Dictionary<System.String, {{packageName}}.{{modelPackage}}.{{returnBaseType}}>{{/isMapContainer}}{{/returnSimpleType}}{{/returnTypeIsPrimitive}}