"{{classname}} apiInstance = new {{classname}}();",
"{{#returnType}}var result = {{#isListContainer}}({{/isListContainer}}await{{/returnType}}{{^returnType}}await{{/returnType}} apiInstance.{{operationId}}Async({{#allParams}}{{paramName}}{{#hasMore}}, {{/hasMore}}{{/allParams}}){{#isListContainer}}).ToArray(){{/isListContainer}};"