{{#isPrimitiveType}}{{{dataType}}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isModel}}{{packageName}}.{{modelPackage}}.{{{dataType}}}, {{packageName}}, Version={{packageVersion}}.0, Culture=neutral, PublicKeyToken=null{{/isModel}}{{^isModel}}{{{dataType}}}{{/isModel}}{{/isPrimitiveType}}