{{#returnTypeIsPrimitive}}{{{returnType}}}{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}{{#returnSimpleType}}{{packageName}}.{{modelPackage}}.{{{returnType}}}{{/returnSimpleType}}{{^returnSimpleType}}{{#isListContainer}}{{{returnBaseType}}}[]{{/isListContainer}}{{^isListContainer}}{{{returnType}}}{{/isListContainer}}{{/returnSimpleType}}{{/returnTypeIsPrimitive}}