{{#isPrimitiveType}}{{{dataType}}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isModel}}{{packageName}}.{{modelPackage}}.{{{dataType}}}{{/isModel}}{{^isModel}}{{#isListContainer}}{{{baseType}}}[]{{/isListContainer}}{{^isListContainer}}{{{dataType}}}{{/isListContainer}}{{/isModel}}{{/isPrimitiveType}}